<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
    <extension
         point="org.eclipse.ui.commands">
      <command
            id="gov.noaa.gsd.viz.hazards.display.startHazardServices"
            name="Start Hazard Services">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="gov.noaa.gsd.viz.hazards.display.HazardServicesAction"
            commandId="gov.noaa.gsd.viz.hazards.display.startHazardServices">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=plugins">
         <toolbar
               id="IHISButton">
            <command
                  commandId="gov.noaa.gsd.viz.hazards.display.startHazardServices"
                  icon="icons/startHazardServices.png"
                  label="Start Hazard Services"
                  style="push">
               <visibleWhen>
	               <and>
	                  <reference
	                        definitionId="com.raytheon.uf.viz.d2d.ui.inD2DActionSet">
	                  </reference> 
	                  <test
	                     args="Practice"
	                     property="com.raytheon.viz.core.mode.CAVEMode">
	               	  </test>
	               </and>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.noaa.gsd.viz.hazards.display.startHazardServices"
                  icon="icons/startHazardServices.png"
                  label="Start Hazard Services"
                  style="push">
               <visibleWhen>
                  <and>
                     <reference
                           definitionId="com.raytheon.viz.gfe.inGFEActionSet">
                     </reference>
                     <test
                        args="Practice"
                        property="com.raytheon.viz.core.mode.CAVEMode">
               	     </test>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.noaa.gsd.viz.hazards.display.startHazardServices"
                  icon="icons/startHazardServices.png"
                  label="Hazard Services"
                  style="push">
               <visibleWhen>
	               <and>
	                  <reference
	                        definitionId="com.raytheon.viz.hydro.inHydroActionSet">
	                  </reference>
	                  <test
	                        args="Practice"
	                        property="com.raytheon.viz.core.mode.CAVEMode">
	               	  </test>
	               </and>
               </visibleWhen>
            </command>
            <command
                  commandId="gov.noaa.gsd.viz.hazards.display.startHazardServices"
                  icon="icons/startHazardServices.png"
                  label="Start Hazard Services"
                  style="push">
               <visibleWhen>
	               <and>
		               <reference
		                     definitionId="com.raytheon.viz.inMPEActionSet">
		               </reference>
		               <test
			                 args="Practice"
			                 property="com.raytheon.viz.core.mode.CAVEMode">
			           </test>
	               </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="com.raytheon.uf.viz.localization.localizationpath">
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Hazard Types"
            recursive="true"
            value="hazardServices/hazardTypes">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Hazard Type Color Table"
            recursive="true"
            value="hazardServices/hazardTypeColorTable">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Hazard Categories"
            recursive="true"
            value="hazardServices/hazardCategories">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Settings"
            recursive="true"
            value="hazardServices/settings">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Product Generator Table"
            recursive="true"
            value="hazardServices/productGeneratorTable">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Alerts"
            recursive="true"
            value="hazardServices/alerts">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.CopyPythonClassesAdapter"
            name="Startup Config"
            recursive="true"
            value="hazardServices/startUpConfig">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py,.json,.xml"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.MetadataAdapter"
            name="Hazard Meta Data"
            recursive="true"
            value="hazardServices/hazardMetaData">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.ProductAdapter"
            name="Product Generators"
            recursive="false"
            value="python/events/productgen/products">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py"
            localizationType="COMMON_STATIC"
            localizationAdapter="com.raytheon.uf.viz.productgen.localization.FormatterAdapter"
            name="Product Formats"
            recursive="true"
            value="python/events/productgen/formats">
      </path>
      <path
            application="Hazard Services"
            extensionFilter=".py"
            localizationType="COMMON_STATIC"
            name="Megawidget Side Effects"
            recursive="true"
            value="hazardServices/megawidgetSideEffects">
      </path>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view id="gov.noaa.gsd.viz.hazards.hazarddetail.view"
      		name="Hazard Information"
            allowMultiple="false"
            restorable="false"
      		class="gov.noaa.gsd.viz.hazards.hazarddetail.HazardDetailViewPart"/>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view id="gov.noaa.gsd.viz.hazards.console.view"
      		name="Hazard Services Console"
            allowMultiple="false"
            restorable="false"
      		class="gov.noaa.gsd.viz.hazards.console.ConsoleViewPart"/>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
  	  <perspectiveExtension
		    targetID="com.raytheon.uf.viz.d2d.ui.perspectives.D2D5Pane">
    	 <view id="gov.noaa.gsd.viz.hazards.hazarddetail.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="left"
    		   ratio="0.50"
    		   visible="false"/>
    	 <view id="gov.noaa.gsd.viz.hazards.console.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="bottom"
    		   ratio="0.62"
    		   visible="false"/>
 	  </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
  	  <perspectiveExtension
		    targetID="com.raytheon.viz.ui.GFEPerspective">
    	 <view id="gov.noaa.gsd.viz.hazards.hazarddetail.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="left"
    		   ratio="0.25"
    		   visible="false"/>
    	 <view id="gov.noaa.gsd.viz.hazards.console.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="bottom"
    		   ratio="0.66"
    		   visible="false"/>
 	  </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
  	  <perspectiveExtension
		    targetID="com.raytheon.viz.hydro.HydroPerspective">
    	 <view id="gov.noaa.gsd.viz.hazards.hazarddetail.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="left"
    		   ratio="0.25"
    		   visible="false"/>
    	 <view id="gov.noaa.gsd.viz.hazards.console.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="bottom"
    		   ratio="0.75"
    		   visible="false"/>
 	  </perspectiveExtension>
   </extension>
   
   <extension point="org.eclipse.ui.perspectiveExtensions">
  	  <perspectiveExtension
		    targetID="com.raytheon.viz.mpe.ui.MPEPerspective">
    	 <view id="gov.noaa.gsd.viz.hazards.hazarddetail.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="left"
    		   ratio="0.25"
    		   visible="false"/>
    	 <view id="gov.noaa.gsd.viz.hazards.console.view"
    		   relative="org.eclipse.ui.editorss"
    		   relationship="bottom"
    		   ratio="0.75"
    		   visible="false"/>
 	  </perspectiveExtension>
   </extension>
   
</plugin>
