<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/tests-Hazard_Services/manual/gov/noaa/gsd/viz/megawidgets/MegawidgetTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="LD_LIBRARY_PATH" value="/awips2/python/lib:$LD_LIBRARY_PATH"/>
<mapEntry key="LD_PRELOAD" value="/awips2/python/lib/libpython2.7.so.1.0"/>
<mapEntry key="PATH" value="/awips2/python/bin:$PATH"/>
</mapAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="gov.noaa.gsd.viz.megawidgets.MegawidgetTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="ExpandBarWhenEnabledOrEditabilityChanges.json ExpandBarWhenEnabledOrEditabilityChangesScript.py"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="tests-Hazard_Services"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.library.path=${env_var:ADE}/ufcore-foss/lib/org.jep.linux64&#10;-Dorg.eclipse.swt.internal.gtk.cairoGraphics=false"/>
</launchConfiguration>
