# ----------------------------------------------------------------------------
# This software is in the public domain, furnished "as is", without technical
# support, and with no warranty, express or implied, as to its usefulness for
# any purpose.
#
# ${scriptName}
#
# Author: $author
# ----------------------------------------------------------------------------

## Double-pound starts a Velocity comment, so we have to use
## substitution for Python comments starting with a double-pound
#set($p = "#")

import CommonMetaData

class MetaData(CommonMetaData.MetaData):
	def execute(self, hazardEvent=None, metaDict=None):
		return